.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* First page(banner part) */
.banner-section-container{
    max-width: 1920px;
    height: 815px;
    background-image: url(../assets/Hero-bg.png);
}

.banner-section-image{
    margin-top: 100px;
    text-align: center;
}

.banner-section-text{
    text-align: center;
    margin-top: 32px;
}
/* .banner-section-text */
.heading1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 35px;
}

.paragraph1{
    margin-top: 35px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

/* .banner-section-text */

/* button */
.btn{
    margin-top: 42px;
    /* margin-bottom: 74px; */
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* banner page done */

/* Second page */
.frame1, .frame2{
    max-width: 1620px;
    /* height: 815px; */
    margin: 0 auto;
    padding: 80px 97px 80px 97px;
    /* border: 2px solid black; */
}

.di1{
 text-align: center;
 justify-content: center;   
}

.he1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    margin: 24px 0px;
}

.paragraph2{
    margin-top: 25px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}


.grp1, .grp3{
    margin-top: 48px;
    max-width: 1620px;
    /* height: 815px; */
    padding: 48px 48px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text{
    max-width: 900px;
    /* border: 2px solid black; */
}
.img{
    max-width: 624px;
    /* border: 2px solid black; */
    text-align: right, top;
}

.he2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left; 
}
.paragraph3{
    margin-top: 16px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    text-align: justify;
}
.btn1{
    margin-top: 32px;
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.grp2{
    margin-top: 32px;
    padding: 48px 48px;
    max-width: 1620px;
    /* height: 815px; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img5{
    max-width: 624px;
    /* border: 2px solid black; */
    text-align: left; top;
}

.text5{
    max-width: 900px;
    /* border: 2px solid black;   */
}

.fd1{
    width: 1332px;
    margin-top: 88px;
    text-align: center;
}

.he4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.paragraph7{
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    text-align: justify;
}

.vde{
    box-sizing: border-box;
    text-align: justify;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.frame3{
    max-width: 1620px;
    height: 540px;
    top margin: 80px;
    text-align: center;
    margin: 0 auto;
    padding: 80px 97px 80px 97px;
    /* border: 2px solid black; */
    background-image: url(../assets/handshake.jpg)
}


.dh7{
    width: 730px;
    height: auto;
    /* border: 2px solid black; */
    text-align: center;
    margin: 0 auto;
}

.h33{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.para33{
    margin-top: 16px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

#lastpart{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.boxsize{
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
}

.btn2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    position: static;
    width: 120px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    flex: none;
    flex-grow: 0;
    margin: 0px 16px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.footerp{
    width: 1920px;
    margin: 79px 150px 79px 150px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sociallink{
    display: flex;
    width: 200px;
    justify-content:space-evenly;
}